page-login {

    ion-content {
        background-color: rgb(49, 139, 70) !important;
    }

    .login {
        @media screen and (min-width: 561px) {
            width: 50%;
            margin: 0 auto;
            margin-top: 10%;
            padding: 3%;
            border: 1px #c7b9b9 solid;
            background-color: #d9dcd5;
        }
    }
}
