<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="darkSecondary">
    <ion-title>Prisijungimas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="login">
    <ion-list>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input [(ngModel)]="email" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Slaptažodis</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button (click)="login()" block color="scrabble">Prisijungti</button>
    <button ion-button (click)="register()" block color="scrabble">Pirmas kartas? Spausk čia!</button>
  </div>

</ion-content>
