<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="darkSecondary">
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registracija</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="register">
    <ion-list>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input [(ngModel)]="email" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Vardas</ion-label>
        <ion-input [(ngModel)]="username" type="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Slaptažodis</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

    </ion-list>

  <button ion-button (click)="register()" block color="scrabble">Registruotis</button>
</div>

</ion-content>
