page-wildcard-select {

  .letters-container {
    background-color: rgb(49, 139, 70);
    height: 100%;
    width: 100%;
  }

  .tile-image {
    background-image: url(../../assets/images/empty-tile2.ico);
    background-size: 100%;
  }

  .tile {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  .letter {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    font-weight: bold;
  }


  .letter-wrapper{
    display:inline-block;
    width: 10vw;
    height: 10vw;
  }

  .letter-container {
    display:block;
  }

  .letters {
    display:table;
    width: 100%;
  }

  .font-size-letter {
    font-size: 4.5vw;
  }

}
