<!--
  Generated template for the ErrorModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="darkSecondary">
    <ion-buttons end>
      <button ion-button
        (click)="dismissModal()">
        Atgal
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="letters-container" padding>
  <div class="letters">
    <div class="letter-wrapper"
    *ngFor="let letter of letters;">
      <div class="letter-container tile tile-image">
        <div class="letter font-size-letter"
        (click)= "selectLetter(letter)">
          {{letter}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
