page-home {
    ion-content {
        background-color: rgb(49, 139, 70) !important;
    }

    .home {
        background-color: rgb(49, 139, 70);

        .card-content-md {
            padding:0;
        }

        @media screen and (min-width: 561px) {
            width: 80%;
            margin: 0 auto;
            margin-top: 1px;
        }

        .segment-md .segment-button.segment-activated {
            border-color: rgb(230, 223, 182);
        }

        .segment-md .segment-button {
            color: rgb(230, 223, 182);
        }

        .card-md {
            margin: 0;
            margin-top: 15px;
            width: 100%;
        }

        .segment-ios .segment-button.segment-activated {
            // border-color: rgb(230, 223, 182);
            background-color: rgb(29, 75, 26);
        }

        .segment-ios .segment-button {
            color: rgb(230, 223, 182);
            border-color: rgb(29, 75, 26);
        }

        .card-ios {
            margin: 0;
            margin-top: 15px;
            width: 100%;
        }

        ion-grid {
            padding: 0;
        }

        ion-col {
            padding: 0;
        }

        .right-col {
            padding-left: 2px;
        }

        .left-col {
            padding-right: 2px;
        }

        .play-buttons {
            margin-top: 15px;
        }

        .searchbar-search-icon {
            display: none;
        }

        .searchbar-md .searchbar-input {
            background-color: #efeac9;
            padding-right: 0px;
            padding-left: 10px;
        }

        .searchbar-ios .searchbar-input {
            background-color: #efeac9;
            padding-right: 0px;
            padding-left: 10px;
        }

        .search-button{
            background-color: #efeac9;
        }

        .search-icon {
            margin-left: 2px;
        }

        a[disabled], button[disabled], [ion-button][disabled] {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .progress, .finished {
        margin-left: 4px;
        margin-right: 4px;

        @media screen and (min-width: 561px) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    .deck-container {
        height: 80%;

        .deck tr {
            height: 10%;
        }

        .deck-col{
            background-color: rgb(230, 223, 182);
            width: 40px;
        }   

        .tile-image {
            background-image: url(../assets/images/empty-tile2.ico);
        }

        .tile {
            background-size: 100% 100%;
            width: 90%;
            height: 90%;
            margin: 0 auto;
        }

        .deck {
            margin-left: 10px;
            margin-right: 10px;
        }

        .letter {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            color: rgb(49, 139, 70);
        }

          .font-size-deck {
            @media screen and (max-width: 564px){
            font-size: 5vw;
            }
            @media screen and (min-width: 564px) and (max-width: 1179px) {
            font-size: 30px;
            }
            @media screen and (min-width: 1180px){
            font-size: 30px;
            }
        }

          .font-size-points {
            @media screen and (max-width: 564px){
            font-size: 4vw;
            }
            @media screen and (min-width: 564px) and (max-width: 1179px) {
            font-size: 15px;
            }
            @media screen and (min-width: 1180px){
            font-size: 15px;
            }
        }

        .deck-points {
            font-size: 4vw;
            margin:0;
            position: fixed;
            bottom: 60%;
            right: 5%;
        }

        .points-col{
            width: 100%;
        }
    }

    ion-spinner * {
        stroke: rgb(230, 223, 182) !important;
    }


}
