<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="darkSecondary">
    <ion-title>Apsižodžiavimas</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher color="scrabble" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="home">
    <div>
      <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="progress">
          <ion-icon name="play"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="finished">
          <ion-icon name="square"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <div *ngIf="tab == 'progress'" class="progress">
      <ion-grid class="play-buttons">
        <ion-row>
          <ion-col width-50 class="left-col">
            <button ion-button (click)="newGame()" block color="scrabble" icon-left>
              <ion-icon name="phone-portrait"></ion-icon>
              Žaisti prieš Botą
              </button>
          </ion-col>
          <ion-col width-50 class="right-col">
            <button ion-button (click)="startSearch()" disabled block color="scrabble" icon-left>
               <ion-searchbar
                placeholder="Vardas"
                [(ngModel)]="searchPlayer">
              </ion-searchbar>
              <button ion-button (click)="startSearch()" color="scrabble" class="search-button" icon-only>
                <ion-icon name="search" class="search-icon"></ion-icon>
              </button>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card 
        *ngFor="let game of games"
        (click)="openGame(game.id)"
        color="scrabble">
          <ion-item color="scrabble">
            <ion-avatar item-left>
              <img *ngIf="game.player2.name == 'Botas'" src="../../assets/images/robot.png">
              <img *ngIf="game.player2.name != 'Botas'" src="../../assets/images/user.png">
            </ion-avatar>
            <h2>{{game?.player2.name}}</h2>
            <p *ngIf="game.playerTurn">Tavo eilė</p>
            <p *ngIf="!game.playerTurn">Laukiama priešininko</p>
          </ion-item>

            <ion-card-content *ngIf="!game.playerTurn && game.player1RecentMoves != null && game.player1RecentMoves[0] != null" >
              <ion-item 
                color="scrabble">
                <div item-right class="deck-container">
                  <table class="deck">
                    <tr>
                      <th *ngFor="let letter of game?.player1LastMove"
                        class="deck-col">
                        <div *ngIf="letter != ''"
                          class="tile tile-image">
                          <div class="letter font-size-deck">
                            {{letter | letter}}
                          </div>
                        </div>
                      </th>
                    </tr>
                  </table>
                </div>
                <ion-badge 
                  item-right color="secondary">{{game.player1RecentMoves[0].points}}
                 </ion-badge>
              </ion-item>
            </ion-card-content>

            <ion-card-content *ngIf="game.playerTurn && game.player2RecentMoves != null && game.player2RecentMoves[0] != null" >
              <ion-item 
                color="scrabble">
                <div item-right class="deck-container">
                  <table class="deck">
                    <tr>
                      <th *ngFor="let letter of game?.player2LastMove"
                        class="deck-col">
                        <div *ngIf="letter != ''"
                          class="tile tile-image">
                          <div class="letter font-size-deck">
                            {{letter | letter}}
                          </div>
                        </div>
                      </th>
                    </tr>
                  </table>
                </div>
                <ion-badge 
                 item-right color="secondary">{{game.player2RecentMoves[0].points}}</ion-badge>
              </ion-item>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <ion-item color="scrabble">
                  <ion-icon name="podium" item-left color="secondary"></ion-icon>
                  <ion-badge item-right color="secondary">{{game?.player1Points}} vs {{game?.player2Points}}</ion-badge>
                </ion-item>
              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col center text-center>
                  <ion-note color="secondary">
                    Likę raidžių: {{game.lettersLeft}}
                  </ion-note>
              </ion-col>
            </ion-row>
            <!--<ion-card-content>
              <ion-item color="scrabble">
                {{game?.player1.name}}
                <label item-right>{{game.id}}</label>
              </ion-item>
              <ion-item color="scrabble">
                {{game?.player2.name}}
              </ion-item>
            </ion-card-content>-->
          </ion-card>
      </div>
    <div class="finished"
      *ngIf="tab == 'finished'">
       <ion-card 
        *ngFor="let game of gamesFinished"
        (click)="openGame(game.id)"
        color="scrabble">
        <ion-card-content>
          <ion-item color="scrabble">
            {{game?.player1.name}}
            <label item-right>{{game.id}}</label>
          </ion-item>
          <ion-item color="scrabble">
            {{game?.player2.name}}
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
