<ion-header>
  <ion-navbar color="darkSecondary">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Apsižodžiavimas
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only
          (click)="loadGameData()">
          <ion-icon name="refresh"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
  <div class="game-wrapper">
    <div class="players-info">
      <div class="players-wrapper">
        <ion-card color="scrabble">
          <ion-card-content>
            <ion-item color="scrabble">
              <ion-label>
                {{game?.player1.name}}
              </ion-label>
              <div item-content>
                TŠK: {{game?.player1Points}}
                <ion-badge *ngIf="game?.player1RecentMoves != null && game?.player1RecentMoves[0] != null"
                  item-right color="darkSecondary">+{{game?.player1RecentMoves[0]?.points}}</ion-badge>
              </div>
            </ion-item>
             <ion-item color="scrabble">
              <ion-label>
                {{game?.player2.name}}
              </ion-label>
              <div item-content>
                TŠK: {{game?.player2Points}}
                <ion-badge *ngIf="game?.player2RecentMoves != null && game?.player2RecentMoves[0] != null"
                  item-right color="darkSecondary">+{{game?.player2RecentMoves[0]?.points}}</ion-badge>
              </div>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="game-window">
      <div class="game-container">
        <div class="game">
          <table class="scrabble" *ngIf="boardLetters != null">
            <tr *ngFor="let row of board; let i = index">
              <th *ngFor="let col of row; let j = index"
                (click)="selectCol(col, i, j)"
                class="empty-col"
                [ngClass]="{
                'hover': col.hover && boardLetters[i][j].letter == ' '}"
                >
                  <div *ngIf="boardLetters[i][j].letter != ' '"
                    class="tile tile-image">
                    <div class="letter letter-padding"
                      [ngClass]="{
                      'new-tile': col.new,
                      'new-letter': boardLetters[i][j].new}"
                      (click)="removeTile(col, i, j)">
                      <div class="letter-div font-size-letter ">
                        {{boardLetters[i][j].letter | letter}}
                      </div>
                      <div class="points-div font-size-points-board">
                        {{getPointValueBoard(boardLetters[i][j])}}
                      </div>
                      <!--{{boardLetters[i][j].letter | letter}}
                      <div class="board-points">
                        <table>
                          <tr>
                            <th class="points-col font-size-points-board">
                              {{getPointValueBoard(boardLetters[i][j])}}
                            </th>
                          </tr>
                        </table>
                      </div>-->
                    </div>
                  </div>

                  <div *ngIf="boardLetters[i][j].letter == ' ' && col.type != ''"
                    class="tile">
                    <div class="letter font-size-mark"
                    [ngClass]="{'triple-word-mark': col.type == 'TŽ',
                    'double-word-mark': col.type == 'DŽ',
                    'triple-letter-mark': col.type == 'TR',
                    'double-letter-mark': col.type == 'DR'}">
                      {{col.type}}
                    </div>
                  </div>
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="buttons-wrapper">
        <div class="action-buttons">
           <button ion-button 
            (click)="placeWord()" small color="darkSecondary"
            [ngClass]="{'your-turn-button': game?.playerTurn, 'not-your-turn-button': !game?.playerTurn || placingWord == true || placedLetters?.length == 0}">
              Dėti žodį
              <ion-spinner *ngIf="placingWord"></ion-spinner>
            </button>
          <button ion-button 
            (click)="skipTurn()" small color="darkSecondary"
            [ngClass]="{'your-turn-button': game?.playerTurn, 'not-your-turn-button': !game?.playerTurn || skipingTurn == true}">
            Praleisti
            <ion-spinner *ngIf="skipingTurn"></ion-spinner>
          </button>
        </div>
        <div class="deck-container">
          <table class="deck">
            <tr>
              <th *ngFor="let letter of deck; let i = index"
                class="deck-col">
                <div *ngIf="letter != ''"
                  class="tile tile-image"
                  (click)="placeDeckLetter(i)">
                  <div class="tile-inner">
                      <div class="letter-div font-size-deck deck-color">
                        {{letter | letter}}
                      </div>
                      <div class="points-div-deck font-size-points deck-color">
                        {{getPointValue(letter)}}
                      </div>
                    </div>                  
                  <!--<div class="letter font-size-deck deck-color">
                    {{letter | letter}}
                    <div class="deck-points">
                      <table>
                        <tr>
                          <th class="points-col font-size-points">
                            {{getPointValue(letter)}}
                          </th>
                        </tr>
                      </table>
                    </div>
                  </div>-->
                </div>
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>
