page-scrabble {

  .scroll-content {
    background-color: #318b46;
  }
  
  .empty-col {
    background-color: rgb(230, 223, 182);
  }

  .triple-word-mark {
    color: rgb(160, 8, 8);
  }

  .double-word-mark {
    color: rgb(244, 10, 10);
  }

  .triple-letter-mark {
    color: rgb(10, 61, 187);
  }

  .double-letter-mark {
    color: rgb(52, 107, 248);
  }

  .font-size-mark {
    @media screen and (max-width: 564px){
      font-size: 3.5vw;
    }
    @media screen and (min-width: 564px) and (max-width: 1179px) and (min-height: 650px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1180px) and (min-height: 650px){
      font-size: 18px;
    }
  }

  .font-size-letter {
    @media screen and (max-width: 564px){
      font-size: 2.8vw;
    }
    @media screen and (min-width: 564px) and (max-width: 1179px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1180px){
      font-size: 18px;
    }
  }

  .font-size-deck {
    @media screen and (max-width: 564px){
      font-size: 5vw;
    }
    @media screen and (min-width: 564px) and (max-width: 1179px) {
      font-size: 30px;
    }
    @media screen and (min-width: 1180px){
      font-size: 30px;
    }
  }

  .font-size-points {
    @media screen and (max-width: 564px){
      font-size: 3vw;
    }
    @media screen and (min-width: 564px) and (max-width: 1179px) {
      font-size: 15px;
    }
    @media screen and (min-width: 1180px){
      font-size: 15px;
    }
  }

  .font-size-points-board {
      @media screen and (max-width: 564px){
        font-size: 8px; 
      }
      @media screen and (min-width: 564px) and (max-width: 1179px) {
        font-size: 10px;
      }
      @media screen and (min-width: 1180px){
        font-size: 12px;
      }
  }

  .hover {
    background-color: rgba(255, 255, 255,.7);
  }

  .scrabble tr {
    height: 5%;
  }

  .deck tr {
    height: 10%;
  }

  .tile-image {
    background-image: url(../assets/images/empty-tile2.ico);
  }

  .tile {
    background-size: 100% 100%;
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  .letter {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .letter-padding {
    //padding-right: 5px;
    //position: relative;
    overflow: hidden;
    height: 100%;
  }

  .tile-inner {
    //padding-right: 5px;
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .new-tile {
    color: rgb(49, 139, 70);

  }

  .new-letter {
    color: rgb(49, 139, 70);
  }
  
  .letter-div {
    height: 100%;
    float: left;
    text-align: center;
    width: 80%;
    padding-top: 20%;
  }

  .points-div {
    height: 100%;
    position: absolute;
    right: 10%;
    padding-top: 1px;
  }

  .points-div-deck {
    height: 100%;
    position: absolute;
    right: 10%;
    padding-top: 3px;
  }

  .board-points {
    font-size: 1.8vw;
  }

  .deck-points {
    font-size: 4vw;
    margin:0;
    position: fixed;
    bottom: 60%;
    right: 5%;
  }

  .points-col{
    width: 100%;
  }

  .scrabble {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-spacing:1px;
    border-collapse: separate;
    background-color: rgba(0, 0, 0,.4);
  }

  .deck {
   height: 100%;
   width: 100%;
   margin: auto;
   table-layout: fixed;
   border-spacing:1px;
   border-collapse: separate;
   background-color: rgba(0, 0, 0,.4);
 }

  .game-window {
    height: 80%;
    width: 100%;
    background-color: rgb(49, 139, 70);
    text-align:center;
    position: relative;

    @media screen and (min-width: 1180px) {
      height: 100%;
      width: 60%;
    }
  }

  .game-container {
    height: 100vw;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    position: relative;

    display: inline-block;

    @media screen and (min-width: 1180px) {
      margin-top: 5%;
      width: 70vh;
      height: 70vh;
    }

    @media screen and (min-width: 564px) and (max-width: 1179px) {
        width: 564px;
        height: 564px;
    }
  }

  .game {
    width: 100%;
    height: 100%;

    display: inline-block;
  }

  // @media screen and (max-width: 350px) {
  //   .game {
  //     width: 320px;
  //     height: 320px;
  //   }
  // }

  .deck-container {
    height: 80%;
  }

  // ::-webkit-scrollbar {
  //   display: none !important;
  // }

  // .scroll-content {
  //   overflow-y: scroll;
  // }

  .action-buttons {
    height: 40%;

    button {
      float:right;
    }
  }

  .deck-col{
    background-color: rgb(230, 223, 182);
    width: 14.2%;
  }

  .buttons-wrapper {
    height: 14%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    position: relative;

    @media screen and (min-width: 1180px) {
      width: 70vh;
      height: 11vh;
    }

    @media screen and (min-width: 564px) and (max-width: 1179px) {
      width: 564px;
    }
  }

  .game-wrapper{
    height: 100%;
    background-color: #318b46;
  }

  .players-info{
    height: 20%;
    background-color: rgb(49, 139, 70);
    overflow: hidden;

    .player1{
      float: left;
      padding: 1%;
    }

    .player2 {
      float: right;
      padding: 1%;
    }

    .score-wrapper{
      display: inline-block;
      margin:0 auto;
      width:100px;
      padding: 1%;
    }

    .player-points {
      padding-right: 45%;
    }

    @media screen and (min-width: 1180px) {
      float:right;
      height: 100%;
      width: 40%;
    }

    .item-inner{
      border-bottom: none !important;
    }
  }

  .left-right-wrapper{
    overflow: hidden;
    width: 100%;
  }

  .left-right-left {
    float:left;
  }

  .left-right-right {
    float:right;
  }

  .players-wrapper{
    width: 100%;
    font-size: 5vw;
    text-align:center;
    margin:auto;
    margin-top: 10px;

    @media screen and (min-width: 1180px) {
      width: 90%;
      margin-top: 8%;
    }

    @media screen and (min-width: 564px) and (max-width: 1179px) {
      width: 564px;
    }

    .card-md {
      margin: auto;
      width: 100%;
    }

    .card-content-md {
      padding:0;
    }

  }

  .deck-color {
    color: rgb(49, 139, 70);
  }

  .your-turn-button{
    background-color: rgb(29, 75, 26);
    
  }

  .not-your-turn-button{
    background-color: #697b6f;
    pointer-events: none;
  }

  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: rgb(230, 223, 182) !important;
    margin-left: 5px;
  }

}
